In [2]:
# Dependencies & Setup
import pandas as pd

# Files to Load
country_codes_csv = "initial-data/country-codes.csv"
vaccinations_csv = "initial-data/covid data.csv"
daily_cases_csv = "initial-data/WHO-COVID-19-global-data.csv"

# Read the files & store into pandas dataframes
country_data = pd.read_csv(country_codes_csv)
vaccination_data = pd.read_csv(vaccinations_csv)
case_data = pd.read_csv(daily_cases_csv)

In [22]:
# Create a clean vaccine dataframe
vaccine_df = pd.merge(country_data, vaccination_data, left_on="country", right_on="ReportingCountry")
vaccine_df.drop(['ReportingCountry'], axis=1, inplace=True)
vaccine_df

,country,latitude,longitude,name,YearWeekISO,Denominator,NumberDosesReceived,NumberDosesExported,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,UnknownDose,Region,TargetGroup,Vaccine,Population
0,AT,47.516231,14.550072,Austria,2020-W53,8901064.0,0.0,0.0,0,NaN,0,0,0,AT,ALL,MOD,8901064
1,AT,47.516231,14.550072,Austria,2020-W53,8901064.0,0.0,0.0,0,NaN,0,0,0,AT,ALL,JANSS,8901064
2,AT,47.516231,14.550072,Austria,2020-W53,8901064.0,61425.0,0.0,5310,NaN,0,0,0,AT,ALL,COM,8901064
3,AT,47.516231,14.550072,Austria,2020-W53,8901064.0,0.0,0.0,0,NaN,0,0,0,AT,ALL,AZ,8901064
4,AT,47.516231,14.550072,Austria,2020-W53,8901064.0,0.0,0.0,2,NaN,0,0,0,AT,ALL,UNK,8901064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230440,SK,48.669026,19.699024,Slovakia,2022-W08,391090.0,0.0,0.0,18,NaN,142,124,0,SK,Age70_79,COM,5457873
230441,SK,48.669026,19.699024,Slovakia,2022-W08,391090.0,0.0,0.0,0,NaN,0,9,0,SK,Age70_79,JANSS,5457873
230442,SK,48.669026,19.699024,Slovakia,2022-W08,184680.0,0.0,0.0,9,NaN,91,73,0,SK,Age80+,COM,5457873
230443,SK,48.669026,19.699024,Slovakia,2022-W08,184680.0,0.0,0.0,0,NaN,5,1,0,SK,Age80+,MOD,5457873
230444,SK,48.669026,19.699024,Slovakia,2022-W08,184680.0,0.0,0.0,1,NaN,0,1,0,SK,Age80+,JANSS,5457873

In [23]:
# Create a clean cases dataframe
cases_df = pd.merge(country_data, case_data, left_on="country", right_on="Country_code")
cases_df.drop(['Country_code', 'Country'], axis=1, inplace=True)
cases_df

,country,latitude,longitude,name,Date_reported,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,AD,42.546245,1.601554,Andorra,2020-01-03,EURO,0,0,0,0
1,AD,42.546245,1.601554,Andorra,2020-01-04,EURO,0,0,0,0
2,AD,42.546245,1.601554,Andorra,2020-01-05,EURO,0,0,0,0
3,AD,42.546245,1.601554,Andorra,2020-01-06,EURO,0,0,0,0
4,AD,42.546245,1.601554,Andorra,2020-01-07,EURO,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
179887,ZW,-19.015438,29.154857,Zimbabwe,2022-02-25,AFRO,378,234967,2,5390
179888,ZW,-19.015438,29.154857,Zimbabwe,2022-02-26,AFRO,500,235467,2,5392
179889,ZW,-19.015438,29.154857,Zimbabwe,2022-02-27,AFRO,336,235803,1,5393
179890,ZW,-19.015438,29.154857,Zimbabwe,2022-02-28,AFRO,0,235803,0,5393
179891,ZW,-19.015438,29.154857,Zimbabwe,2022-03-01,AFRO,577,236380,2,5395

In [24]:
# Export the cleaned files to csv
vaccine_df.to_csv("cleaned-data/vaccine-data.csv", index = False)
cases_df.to_csv("cleaned-data/cases-data.csv", index = False)